# NBA Teams, Payroll and Performance
## Ashley Kang, Min-Yi Chen, Chloe Yueh
## Overview
## Motivation
## Data Sources:
- https://www.kaggle.com/datasets/loganlauton/nba-players-and-team-data?select=NBA+Player+Box+Score+Stats%281950+-+2022%29.csv
- https://www.kaggle.com/datasets/loganlauton/nba-players-and-team-data?select=NBA+Player+Stats%281950+-+2022%29.csv
- https://www.kaggle.com/datasets/loganlauton/nba-players-and-team-data?select=NBA+Salaries%281990-2023%29.csv

## Data Descriptions
List the variables of interest, the size of the data sets, missing values, etc.

In [2]:
# Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Load datasets
box_score_stats = pd.read_csv('NBA Player Box Score Stats(1950 - 2022).csv')
player_stats = pd.read_csv('NBA Player Stats(1950 - 2022).csv')
salaries = pd.read_csv('NBA Salaries(1990-2023).csv')

In [10]:
box_score_stats.head()

,Unnamed: 0,Season,Game_ID,PLAYER_NAME,Team,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,531380,1946,24600034,Adolph Hoefer,HUS,"NOV 19, 1946",HUS vs. CLR,L,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,NaN,0
1,531378,1946,24600045,Adolph Hoefer,HUS,"NOV 23, 1946",HUS @ WAS,L,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,0
2,531379,1946,24600042,Adolph Hoefer,HUS,"NOV 22, 1946",HUS vs. BOS,W,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,0
3,531377,1946,24600051,Adolph Hoefer,HUS,"NOV 26, 1946",HUS vs. WAS,L,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,0
4,531376,1946,24600061,Adolph Hoefer,HUS,"NOV 29, 1946",HUS vs. CLR,L,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2,NaN,0

In [12]:
box_score_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309778 entries, 0 to 1309777
Data columns (total 29 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1309778 non-null  int64
 1   Season           1309778 non-null  int64
 2   Game_ID          1309778 non-null  int64
 3   PLAYER_NAME      1309778 non-null  object
 4   Team             1309778 non-null  object
 5   GAME_DATE        1309778 non-null  object
 6   MATCHUP          1309778 non-null  object
 7   WL               1309625 non-null  object
 8   MIN              1309778 non-null  int64
 9   FGM              1309778 non-null  int64
 10  FGA              1225111 non-null  float64
 11  FG_PCT           965197 non-null   float64
 12  FG3M             1007039 non-null  float64
 13  FG3A             997931 non-null   float64
 14  FG3_PCT          883922 non-null   float64
 15  FTM              1309778 non-null  int64
 16  FTA              1306777 non-null  float64
 17  FT_PCT           1263221 non-null  float64
 18  OREB             1022582 non-null  float64
 19  DREB             1022585 non-null  float64
 20  REB              1220688 non-null  float64
 21  AST              1208042 non-null  float64
 22  STL              1040813 non-null  float64
 23  BLK              1054535 non-null  float64
 24  TOV              1003286 non-null  float64
 25  PF               1271017 non-null  float64
 26  PTS              1309778 non-null  int64
 27  PLUS_MINUS       656278 non-null   float64
 28  VIDEO_AVAILABLE  1309778 non-null  int64
dtypes: float64(16), int64(8), object(5)
memory usage: 289.8+ MB

In [17]:
player_stats.head().transpose()

,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Season,1950,1950,1950,1950,1950
Player,Curly Armstrong,Cliff Barker,Leo Barnhorst,Ed Bartels,Ed Bartels
Pos,G-F,SG,SF,F,F
Age,31.0,29.0,25.0,24.0,24.0
Tm,FTW,INO,CHS,TOT,DNN
G,63.0,49.0,67.0,15.0,13.0
GS,NaN,NaN,NaN,NaN,NaN
MP,NaN,NaN,NaN,NaN,NaN
FG,144.0,102.0,174.0,22.0,21.0
FGA,516.0,274.0,499.0,86.0,82.0
FG%,0.279,0.372,0.349,0.256,0.256
3P,NaN,NaN,NaN,NaN,NaN
3PA,NaN,NaN,NaN,NaN,NaN
3P%,NaN,NaN,NaN,NaN,NaN
2P,144.0,102.0,174.0,22.0,21.0
2PA,516.0,274.0,499.0,86.0,82.0
2P%,0.279,0.372,0.349,0.256,0.256
eFG%,0.279,0.372,0.349,0.256,0.256
FT,170.0,75.0,90.0,19.0,17.0
FTA,241.0,106.0,129.0,34.0,31.0
FT%,0.705,0.708,0.698,0.559,0.548
ORB,NaN,NaN,NaN,NaN,NaN
DRB,NaN,NaN,NaN,NaN,NaN
TRB,NaN,NaN,NaN,NaN,NaN
AST,176.0,109.0,140.0,20.0,20.0
STL,NaN,NaN,NaN,NaN,NaN
BLK,NaN,NaN,NaN,NaN,NaN
TOV,NaN,NaN,NaN,NaN,NaN
PF,217.0,99.0,192.0,29.0,27.0
PTS,458.0,279.0,438.0,63.0,59.0

In [13]:
player_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28237 entries, 0 to 28236
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  28237 non-null  int64
 1   Unnamed: 0    28237 non-null  int64
 2   Season        28237 non-null  int64
 3   Player        28237 non-null  object
 4   Pos           28237 non-null  object
 5   Age           28237 non-null  float64
 6   Tm            28237 non-null  object
 7   G             28237 non-null  float64
 8   GS            21820 non-null  float64
 9   MP            27736 non-null  float64
 10  FG            28237 non-null  float64
 11  FGA           28237 non-null  float64
 12  FG%           28108 non-null  float64
 13  3P            22467 non-null  float64
 14  3PA           22467 non-null  float64
 15  3P%           18702 non-null  float64
 16  2P            28237 non-null  float64
 17  2PA           28237 non-null  float64
 18  2P%           28035 non-null  float64
 19  eFG%          28108 non-null  float64
 20  FT            28237 non-null  float64
 21  FTA           28237 non-null  float64
 22  FT%           27117 non-null  float64
 23  ORB           24337 non-null  float64
 24  DRB           24337 non-null  float64
 25  TRB           27925 non-null  float64
 26  AST           28237 non-null  float64
 27  STL           24337 non-null  float64
 28  BLK           24337 non-null  float64
 29  TOV           23185 non-null  float64
 30  PF            28237 non-null  float64
 31  PTS           28237 non-null  float64
dtypes: float64(26), int64(3), object(3)
memory usage: 6.9+ MB

In [11]:
salaries.head()

,Unnamed: 0,playerName,seasonStartYear,salary,inflationAdjSalary
0,0,Patrick Ewing,1990,"$4,250,000","$9,694,547"
1,1,Hot Rod Williams,1990,"$3,785,000","$8,633,850"
2,2,Hakeem Olajuwon,1990,"$3,175,000","$7,242,397"
3,3,Charles Barkley,1990,"$2,900,000","$6,615,103"
4,4,Chris Mullin,1990,"$2,850,000","$6,501,049"

In [15]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15857 entries, 0 to 15856
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          15857 non-null  int64
 1   playerName          15857 non-null  object
 2   seasonStartYear     15857 non-null  int64
 3   salary              15857 non-null  object
 4   inflationAdjSalary  15857 non-null  object
dtypes: int64(2), object(3)
memory usage: 619.5+ KB

## Data Manipulation

## Data Visualization